{% extends "base.html" %}


{% block content_base %}
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/index" class="logo me-auto me-lg-0"><img src="assets/images/Altacarbon-1-small.png" alt="" class="img-fluid"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- <li class="scroll-to-section"><a href="#top" class="active">Home</a></li> -->
                            <!-- <li class="scroll-to-section"><a href="#aboutus">About</a></li> -->
                            <!-- <li class="scroll-to-section"><a href="#process">Process</a></li> -->
                            <!-- <li class="scroll-to-section"><a href="#benefits">Benefits</a></li> -->
							<!-- <li class="scroll-to-section"><a href="#schedule">Team</a></li> -->
                            <li class="scroll-to-section"><a id='contact-menu-btn'>Contact</a></li> 
                            <!-- <li class="scroll-to-section"><a href="/login">Login</a></li> -->
                            <!-- <li class="main-button"><a href="#"></a></li> -->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop playsinline id="bg-video">
            <source src="assets/images/Altacarbon-Video-4K.mp4" type="video/mp4" />

        </video>
        <img id="bg-img" src='assets/images/alberta-2297204.jpg'/>


        <div class="video-overlay header-text">
            <div class="caption">
                <h3 id='altacarbon-h3'>
                    <a href="/index" ><img src="assets/images/Altacarbon-1-vert-medium.png" alt="" class="img-fluid"></a>
                </h3>
				<h6 id='altacarbon-h6'> resource recovery solutions</h6>
                <div class="contact-form" id='altacarbon-banner-form'>
                        <form id="contact" action="/" method="post">
                          <div class="row">
                            <div class="col-md-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    
{% endblock %}